@import "tailwindcss";

.dark .btn-header:hover {
  background-color: hsl(226, 11%, 37%) !important;
}

.light .btn-header:hover {
  background-color: hsl(0, 0%, 78%) !important;
}



 .btn-header:focus-within ,.remove-btn:focus-within  {
  border: 2px solid hsl(3, 71%, 56%) !important;

}
 .active-click:focus-within , .inactive-click:focus-within ,.active-list:focus-within , .inactive-list:focus-within  {
  outline: 2px solid hsl(3, 71%, 56%) !important;
  outline-offset: 2px !important;

}
/* ------------------------------------------------- */

.dark .remove-btn:hover {
  background-color: hsl(3, 86%, 64%) !important;
  color: hsl(226, 25%, 17%) !important;
  border: none;
}

.light .remove-btn:hover {
  background-color: hsl(3, 77%, 44%) !important;
  color: hsl(0, 0%, 93%) !important;
  border: none;
}

.dark .active-click:hover,
.light .active-click:hover {
  background-color: hsl(3, 71%, 56%) !important;
}

.dark .inactive-click:hover {
  background-color: hsl(226, 11%, 37%) !important;
}

.light .inactive-click:hover {
  background-color: hsl(0, 0%, 78%) !important;
}

.light .inactive-list:hover {
  background-color: hsl(0, 0%, 93%) !important;
}

.dark .inactive-list:hover {
  background-color: hsl(226, 11%, 37%) !important;
}

.dark .active-list:hover,
.light .active-list:hover {
  background-color: hsl(3, 71%, 56%) !important;
}


